<div class="container">
  <div class="row">
    <div class="col-12 col-md-12">
      <form class="search-form" id="searchForm">
        <div class="input-group">
          <div class="input-group-addon"><span><i class="glyphicon glyphicon-search"></i></span></div>
          <input type="text" id="searchInput" placeholder="Black Lotus" class="form-control" value="<%=searchInput%>" />
          <div class="input-group-btn">
            <button id="searchButton" class="btn btn-default" type="button">Search</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-12 col-md-12" id="loadingSpinner">
      <div class="text-center">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-12">
        <div class="row" id="cardsList">
          <% if (typeof cards == 'object' && cards) { %>
          <% cards.forEach( function( card ){ %>
          <div class="card" style="width: 18rem;">
            <% if (card['imageUrl']) { %>
            <img src="<%=card['imageUrl']%>" class="card-img-top">
            <% } else { %>
            <img src="/images/placeholder.jpeg" class="card-img-top">
            <% } %>
            <div class="card-body">
              <h4 class="card-title"><%=card['name']%></h4>
              <p class="card-text">Rarity: <%=card['rarity']%></p>
              <p class="card-text">Set: <%=card['setName']%></p>
              <p class="card-text">Type: <%=card['type']%></p>
              <p class="card-text">
                <% for (var i in card.legalities) { %>
                <%=card.legalities[i].format%>: <%=card.legalities[i].legality%>.
                <% } %>
              </p>
              <% if (card['text']) { %>
              <p class="card-text"><small class="text-muted">Text: <%=card['text']%></small></p>
              <% } else { %>
              <p class="card-text"><small class="text-muted">Text: None</small></p>
              <% } %>
            </div>
          </div>
          <% }); %>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>